In [1]:
#comment
10

10

In [2]:
2**4

16

In [3]:
4%2

0

In [4]:
x="hello"
print(x)

hello

In [5]:
#string interpolation
name = "naushi naaz"
print("My name is {}".format(name))

My name is naushi naaz

In [6]:
number = 12
print("Hi My name is {} and my number is {}".format(name,number))

Hi My name is naushi naaz and my number is 12

In [7]:
print("hi my name is {x} and my number is {y}".format(x=number,y=name))

hi my name is 12 and my number is naushi naaz

In [8]:
#LIST
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [9]:
["naushi",1,2]

['naushi', 1, 2]

In [10]:
my_list=[1,2,3]

In [11]:
my_list.append('naaz')

In [12]:
my_list

[1, 2, 3, 'naaz']

In [13]:
my_list=['a','b','c','d']

In [14]:
my_list

['a', 'b', 'c', 'd']

In [15]:
my_list[0]

'a'

In [16]:
my_list[3]

'd'

In [17]:
my_list[-1]

'd'

In [18]:
my_list[0:2] #OR my_list[:2]

['a', 'b']

In [19]:
my_list[2:]

['c', 'd']

In [20]:
nested=[1,2,['a','b']]

In [21]:
nested

[1, 2, ['a', 'b']]

In [22]:
nested[2]

['a', 'b']

In [23]:
nested[2][0]

'a'

In [24]:
d={'key':10,'key2':'seconitem'} #dictionary

In [26]:
d['key2']

'seconitem'

In [27]:
True

True

In [28]:
#Tupples are same as list only the differnce is in tupples we use paranthesis 
#and tupple is immutable whereas list is mutable
t=(1,2,3)

In [30]:
t[0]
my_list=[1,2,3]

In [31]:

my_list[0]

1

In [33]:
#mutable
my_list[0]='NEW'
my_list

['NEW', 2, 3]

In [35]:
#immutable tupples
t[0]='NEW'
t #will give you an error

TypeError: 'tuple' object does not support item assignment

In [36]:
#Set- unordered collection of unique items
{1,2,3}

{1, 2, 3}

In [37]:
{1,1,1,1,1,1,1,1,1,2,2,22,2,2,3,3,3,3,3}

{1, 2, 3, 22}

In [41]:
set([1,1,1,1,1,1,1,1,1,2,2,22,2,2,3,3,3,3,3])

{1, 2, 3, 22}

In [38]:
import math

In [39]:
math.sqrt(10)

3.1622776601683795

In [40]:
y='hello world'
y[8]

'r'

In [42]:
#comparison operators
1<2

True

In [43]:
'String' == 'String'

True

In [44]:
1 == '1'

False

In [49]:
#logical operators

(1==2)and (1==1)

False

In [51]:

(1==2)or (1==1)

True

In [52]:
not(1==2)and (1==1)

True

In [53]:
if True:
    print('hello')

hello

In [55]:
if False:
    print('naushi')

In [60]:
if(1==2):
    print('hello')
elif(2==2):
    print(2)
else:
    print("if statement was not true")

2

In [61]:
#For Loops
seq=[1,2,3,4,5]

In [62]:
for item in seq:
    print("hello")

hello
hello
hello
hello
hello

In [65]:
for x in seq:
    print(x**2)

1
4
9
16
25

In [66]:
#while Loops
i=1
while i<5:
    print('i is currently {}'.format(i))
    i=i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

In [67]:
#range function- generate sequence
range(5)

range(0, 5)

In [68]:
for item in range(5):
    print(item)

0
1
2
3
4

In [70]:
for item in range(0,20,2):
    print(item)

0
2
4
6
8
10
12
14
16
18

In [71]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
#List Comprehension
x=[1,2,3,4,]
out =[]
for num in x:
    out.append(num**2)

In [73]:
out

[1, 4, 9, 16]

In [75]:
#we can use list comprehension to perform above operation
[num**2 for num in x]

[1, 4, 9, 16]

In [76]:
#Functions
def my_func():
    print('hello')

In [78]:
my_func()

hello

In [79]:
def my_func1(param):
    print(param)

In [80]:
my_func1('naushi')

naushi

In [82]:
def my_func1(param ='default'):
    print(param)
my_func1()

default

In [88]:
def my_func(param=1):
    """
    DocsString goes here!
    """
    return param*8

In [89]:
my_func(2)

16

In [91]:
#Lambda Expressions
def times_two(var):
    return var*2
result = times_two(6)
result

12

In [92]:
#we can convert above expression using lambda function to use it multiple times
lambda var: var*2

In [96]:
seq = [1,2,3,4,5,6]
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10, 12]

In [99]:
def is_even(num):
    return num%2==0

In [103]:
list(filter(lambda num: num%2==0,seq))

[2, 4, 6]

In [104]:
st = 'Naushi Naaz'
st.upper()

'NAUSHI NAAZ'

In [105]:
st.lower()

'naushi naaz'

In [106]:
tweet="Go sports! #cool"
tweet.split()

['Go', 'sports!', '#cool']

In [109]:
tweet.split('#')

['Go sports! ', 'cool']

In [111]:
tweet.split('#')[0]

'Go sports! '

In [112]:
d

{'key': 10, 'key2': 'seconitem'}

In [113]:
d.keys()

dict_keys(['key', 'key2'])

In [114]:
d.items()

dict_items([('key', 10), ('key2', 'seconitem')])

In [115]:
my_list.append(4)

In [117]:
my_list

['NEW', 2, 3, 4]

In [118]:
my_list.pop()

4

In [119]:
my_list.pop(0)

'NEW'

In [120]:
my_list

[2, 3]

In [121]:
1 in my_list

False

In [122]:
2 in my_list

True

In [123]:
'a' in [1,2,'a']

True