In [12]:
#Importing the input CSV file
import pandas as pd
import numpy as np
import os
df= pd.read_csv('Zootopia_All_plants.csv')
#cleaning the dataframe

df.head(20)

,Flag_C_PM,(All),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Row Labels,Sum of Flag_D_PM,Sum of Flag_C_PM,Count of PM_2017,Count of PM_2018,Sum of CNP_2017,Sum of CNP_2018,Sum of Flag_I_PM
2,1% Milk,0,9,31,82,978.77,3904.31,1
3,2% Milk,5,20,53,67,2076.4,2675.47,4
4,3M General Merchandise,2,68,150,164,870.96,927.01,7
5,3M Tape,28,351,574,557,4980.7,5129.72,60
6,5 Hour Energy,169,991,1373,1307,554458.05,553795.86,173
7,7-Up,0,27,43,40,8937.3,10055.94,3
8,7-Up Fountain,0,6,18,12,2066.25,779.21,2
9,7up Soft Drinks 20oz,0,15,33,56,1645.33,4732.5,0
10,9Lives/Wiskas/Friskies Food,292,1143,1514,1353,35502.14,33701.48,337
11,Accessories,0,0,9,3,-70.46,-17.41,0
12,Act II,0,0,NaN,1,NaN,-3.03,0
13,Air Fresheners,199,654,966,913,17739.55,17610.34,183
14,Airheads,65,1214,1474,1466,53171.05,54865.8,245
15,Alka Seltzer,3,184,358,291,4101.75,3399.36,30
16,All Bulk Candy,0,0,NaN,18,NaN,1797.27,0
17,All Purpose Cleaners,263,766,1139,1028,31932.8,29194.67,241
18,Alpo/Pedigree 13z Food Canned,135,1000,1374,1223,28264.28,26784.14,215
19,Altoids,685,2296,2630,2515,164812.31,157281.69,734

In [20]:
df['Cust_ID'] = df['Cust_ID'].astype(str)
pd.options.display.float_format = '{:.2f}'.format
#df['Mar_Diff']=df['PM_2018']-df['PM_2017']
df.dtypes

Plant_ID          object
NACS_Category     object
Cust_ID           object
CNP_2017         float64
CNP_2018         float64
BAC_2017         float64
BAC_2018         float64
FC_2017          float64
FC_2018          float64
Profit_2017      float64
Profit_2018      float64
PPU_2017         float64
PPU_2018         float64
PM_2017          float64
PM_2018          float64
Mar_Diff         float64
dtype: object

In [21]:
#picking valid mar_diff i.e. removing nan for mar_diff
df = df[np.isfinite(df['Mar_Diff'])]
len(df)

593652

In [22]:
#Margin_out dataframe has declining margins
margin_out=df[df['Mar_Diff']<0].sort_values('NACS_Category',ascending =True)
margin_out.head(10)

,Plant_ID,NACS_Category,Cust_ID,CNP_2017,CNP_2018,BAC_2017,BAC_2018,FC_2017,FC_2018,Profit_2017,Profit_2018,PPU_2017,PPU_2018,PM_2017,PM_2018,Mar_Diff
14,1006,1% Milk,32549.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09
473765,1005,1% Milk,32358.0,47.56,nan,43.32,nan,0.00,nan,4.24,nan,0.10,nan,0.09,nan,-0.09
473764,1005,1% Milk,28011.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09
473760,1005,1% Milk,12021.0,60.00,nan,54.72,nan,0.00,nan,5.28,nan,0.10,nan,0.09,nan,-0.09
473756,1005,1% Milk,11669.0,43.52,nan,39.60,nan,0.00,nan,3.92,nan,0.10,nan,0.09,nan,-0.09
473751,1005,1% Milk,10658.0,28.52,nan,25.92,nan,0.00,nan,2.60,nan,0.10,nan,0.09,nan,-0.09
165124,1001,1% Milk,13277.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09
165125,1001,1% Milk,14277.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09
165130,1001,1% Milk,15015.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09
473766,1005,1% Milk,32359.0,15.00,nan,13.68,nan,0.00,nan,1.32,nan,0.10,nan,0.09,nan,-0.09

In [23]:
#created df y_decline having no of customers having declining margin
final_df=margin_out.groupby(['NACS_Category'])['Cust_ID'].count()
array_keys =final_df.keys()
array_values=final_df.values
y_decline=margin_out.groupby(['NACS_Category']).sum()
y_decline['Declining_cust']=array_values
y_decline.head(20)

,CNP_2017,CNP_2018,BAC_2017,BAC_2018,FC_2017,FC_2018,Profit_2017,Profit_2018,PPU_2017,PPU_2018,PM_2017,PM_2018,Mar_Diff,Declining_cust
NACS_Category,,,,,,,,,,,,,,
1% Milk,571.21,0.00,520.50,0.00,0.00,0.00,50.71,0.00,2.20,0.00,1.98,0.00,-1.98,22
2% Milk,1305.39,366.81,1129.51,324.27,464.80,16.60,175.88,42.54,6.05,0.73,5.10,0.63,-4.47,38
3M General Merchandise,420.42,11.55,325.36,8.82,339.88,10.44,95.06,2.73,23.77,0.65,20.10,0.48,-19.62,84
3M Tape,1475.69,218.35,1125.06,162.43,1185.25,188.39,350.63,55.92,92.27,7.50,61.01,5.65,-55.36,251
5 Hour Energy,131466.43,77797.03,116135.14,71396.43,129775.04,76691.49,15331.29,6400.60,-1296.61,17.76,75.34,14.19,-61.15,567
7-Up,1785.51,0.00,1602.56,0.00,1349.78,0.00,182.95,0.00,1.83,0.00,1.66,0.00,-1.66,16
7-Up Fountain,1271.84,0.00,1101.66,0.00,1123.47,0.00,170.18,0.00,1.72,0.00,1.48,0.00,-1.48,12
7up Soft Drinks 20oz,859.27,0.00,714.60,0.00,0.00,0.00,144.67,0.00,3.31,0.00,3.82,0.00,-3.82,18
9Lives/Wiskas/Friskies Food,12562.17,9432.18,9768.24,7595.20,11263.87,8224.96,2793.93,1836.98,183.82,69.81,149.43,54.81,-94.62,661
Accessories,-29.14,-17.41,-26.66,-18.06,-27.28,-18.48,-2.48,0.65,0.34,-0.13,0.31,-0.15,-0.46,7
Act II,0.00,-3.03,0.00,-3.10,0.00,-3.44,0.00,0.07,0.00,-0.02,0.00,-0.02,-0.02,1
Air Fresheners,9032.80,4590.38,7220.70,3776.92,7790.91,3793.98,1812.10,813.46,119.14,38.74,97.39,31.08,-66.31,510
Airheads,6476.31,1800.73,5776.50,1625.85,5660.76,1637.76,699.81,174.88,25.82,4.01,38.84,-1.99,-40.83,321
Alka Seltzer,1605.72,35.01,1365.14,29.85,1269.02,32.10,240.58,5.16,29.45,0.52,25.83,0.45,-25.38,176
All Purpose Cleaners,15858.83,8560.76,12296.04,6826.22,13596.48,7203.80,3562.79,1734.54,179.48,60.61,138.66,47.51,-91.15,635
Alpo/Pedigree 13z Food Canned,7385.76,3159.20,6082.56,2629.02,6438.23,2662.59,1303.20,530.18,109.70,24.21,95.28,18.15,-77.13,510
Altoids,45002.32,35757.02,39251.94,31802.91,38483.73,30434.61,5750.38,3954.11,4.00,60.27,179.38,31.32,-148.06,991
Always,5428.71,2299.16,4505.51,1947.37,4407.09,2009.41,923.20,351.79,79.72,18.79,67.43,15.68,-51.75,395
Analgesics Other,9616.96,3735.30,8275.22,3241.46,8068.97,2947.60,1341.74,493.84,50.62,11.07,45.62,9.40,-36.22,310
Analgesics/ Retail Sensitive,7296.18,2538.40,6515.98,2246.38,5009.71,880.59,780.20,292.02,25.67,3.92,25.37,3.21,-22.16,217

In [24]:
#created total_cust from df where input are the only finelines from data frame y_declines
#for the fine lines , extracting total number of customers (declining + non-declining)
total_cust =df.loc[df['NACS_Category'].isin(array_keys)]
count_total_cust=total_cust.groupby(['NACS_Category'])['Cust_ID'].count()
Cust_all=count_total_cust.values
Cust_all_key=count_total_cust.keys()

In [25]:
#creating a dataframe having finelines and total number of customers
ttl_Cust_df=pd.DataFrame({'Num_Cust':Cust_all},index=Cust_all_key)
ttl_Cust_df.dtypes

Num_Cust    int64
dtype: object

In [26]:
#merging both the dataframes : y_decline having customers with declining margins and ttl_Cust_df having 
#total no of customers
final_df=pd.merge(y_decline,ttl_Cust_df,how='inner', left_index=True,right_index=True)
final_df['dec_Margin_ratio']=final_df['Declining_cust']/final_df['Num_Cust']

In [27]:
#os.makedirs('Margin_Ratio')

In [28]:
#Ypsi_All having declining margins 
#Ypsi_GreaterThan_20 having declining margins more than 20%

writer = pd.ExcelWriter('Margin_Ratio/Zootopia_All_Plants_Margin_Ratio.xlsx')
final_df1= final_df.applymap(lambda x: round(x,2) if isinstance (x,(int,float)) else x)
final_df1.to_excel(writer,'All_Plants')
final_df2=final_df1[final_df1['dec_Margin_ratio']>0.2] 
final_df2.to_excel(writer,'AllPlants_GreaterThan_20')
writer.save()